<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> FlowerMLDJ </title>
    </head>
    <body>
        <div style="text-align:center">
            <h2> Upload the Flower </h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="flower_image" accept="image/*" required>
                <button type="submit"> Classify </button>
            </form>

            {% if label and fileName %}
            <p> {{ fileName }} </p>
            <b> {{ label }} </b>
            {% endif %}

        </div>
    </body>
</html>